* {
  margin: 0px;
  padding: 0px;
  font-family: Metropolis;
  border: none;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: whitesmoke;
}

header {
  height: 65vh;
  width: 100%;
  background-image: url("../images/headerhero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  font-size: larger;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding-top: 2vh;
}

#searchbar {
  margin-top: 11vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#searchbar img {
  width: 20vw;
}

#searchbar h1 {
  color: whitesmoke;
  font-size: 3rem;
  margin-top: 5vh;
}

#fullsearchbar {
  padding: 5px;
  margin-top: 5vh;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  align-items: center;
}

.fa-map-marker-alt {
  color: palevioletred;
}

#fullsearchbar select {
  height: 7vh;
  width: 13vw;
}

#fullsearchbar input {
  height: 7vh;
  width: 32vw;
}

.fa-search {
  color: grey;
}
/* header done */

#sectiononeheading h1 {
  margin-top: 5vh;
  text-align: center;
  font-size: 3rem;
}

.card {
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 10px;
  margin: 2vh;
  display: inline-flex;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.fa-chevron-right {
  color: grey;
  padding-top: 1vh;
  padding-left: 1vh;
}

#cards {
  margin-top: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* install app section starts */

#installapp img {
  height: 70vh;
  width: 20vw;
}

#installapp {
  padding-top: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  height: 500px;
  margin: auto;
  flex-wrap: wrap;
}

#storeicons img {
  width: 10vw;
  height: 6vh;
}

#form {
  margin-top: 6vh;
}

#form h1 {
  margin-bottom: 5vh;
}
#form p {
  margin-bottom: 5vh;
}
#sendline {
  margin-bottom: 5vh;
}

#radio-group {
  margin-bottom: 5vh;
}
#radio-group label {
  margin-right: 3vw;
}

#sendline input {
  height: 5vh;
  width: 18vw;
  border: 1px solid gainsboro;
  border-radius: 7px;
}

#sendline button {
  color: white;
  background-color: #ed5a6b;
  height: 6vh;
  width: 10vw;
  border-radius: 10px;
  font-size: 1rem;
}

/* options part */
#options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin: auto;
  /* background-color: #ed5a6b; */
  height: 150px;
  flex-wrap: wrap;
}

.horizontal-list {
  display: flex;
  flex-direction: row;
}
.horizontal-list li {
  margin-right: 10px;
}
